$brand_color_primary_pure: #7c21ee !default;
$brand_color_primary_light: #f3ecfd !default;
$brand_color_primary_medium: #b082e9 !default;
$brand_color_secondary: #f443e9;
$brand_gradient_color: #fe6f7a;

$neutral_color_low_pure: #212121 !default;
$neutral_color_low_light: #a3a3a3 !default;
$neutral_color_low_medium: #666666 !default;
$neutral_color_low_dark: #101010 !default;
$neutral_color_high_pure: #ffffff !default;
$neutral_color_high_light: #fafafa !default;
$neutral_color_high_medium: #e0e0e0 !default;
$neutral_color_high_dark: #cccccc !default;

$feedback_color_warning_pure: #ffac4b !default;
$feedback_color_warning_light: #fdf5f2 !default;
$feedback_color_warning_medium: #e1d5c0 !default;
$feedback_color_warning_dark: #594424 !default;
$feedback_color_helper_pure: #f64f44 !default;
$feedback_color_helper_light: #ff826f !default;
$feedback_color_helper_medium: #df4250 !default;
$feedback_color_helper_dark: #ba0a1a !default;
$feedback_color_success_pure: #08d371 !default;
$feedback_color_success_light: #f2f9f6 !default;
$feedback_color_success_medium: #d4e2cf !default;
$feedback_color_success_dark: #214b14 !default;

$brand-body-bg: $neutral_color_high_pure !default;
$brand-body-color: $neutral_color_low_pure !default;
